$orange: #FBDD40;
$blue: #2569EA;

.orange {
  color: $orange;
}

.red {
  color: red;
}

.pink-800 {
  color: #ad1457;
}

.green {
  color: #48b548;
}

.blue {
  color: #2176ff;
}

.purple {
  color: #bc45ab;
}

.skyblue {
  color: #def;
}

.gray {
  color: #ccc;
}

.info {
  color: #333;
}
.orange{
  color: orange;
}

.not-allowed {
  cursor: not-allowed;
  user-select: none;
  text-decoration: none;
}
